body {
  margin: 0;
  padding: 20px;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

/* imagem do bingo */
#bingo-container {
  width: 800px;
  aspect-ratio: 1 / 1.25;
  background-image: url("bingo.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

/* grade invisível */
#grid {
  position: absolute;
  top: 32%;
  left: 5%;
  width: 81%;
  height: 63%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3%;
}

/* área clicável */
.cell {
  cursor: pointer;
  position: absolute;
  width: 110px;
  height: 110px;
  top: 7px;
  left: 3px;
}

/* X ao marcar */
.cell.marked::after {
  content: "☓";
  font-size: 132px;
  color: #7a1e3a;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* casa do meio */
.cell.center {
  cursor: default;
}
