body
{
  margin: 0;
  padding: 20px;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

/* imagem do bingo */
#bingo-container {
  width: 800px;
  aspect-ratio: 1 / 1.25;
  background-image: url("bingo.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

/* grade invisível */
#grid {
  position: absolute;
  top: 32%;
  left: 5%;
  width: 81%;
  height: 62%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2%;
}

/* área clicável */
.cell {
  cursor: pointer;
  position: relative;
  width: 110px;
  height: 110px;
  top: 7px;
  left: 3px;
}

/* X ao marcar */
.cell.marked::after {
  content: "☓";
  font-size: 132px;
  color: #800000;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: fadeInMark 0.3s ease-out;
}

/* casa do meio */
.cell.center {
  cursor: default;
}
@media (max-width: 768px) {
  #bingo-container {
    width: 95vw;
  }

  .cell.marked::after {
    font-size: 18vw; /* ajusta o X automaticamente */
  }
}
/* Fade-in com leve zoom somente no bingo */
#bingo-container {
  opacity: 0;
  transform: scale(0.97);
  animation: fadeInBingo 0.8s ease forwards;
}

@keyframes fadeInBingo {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInMark {
  transform: translate(-50%, -50%);
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
